<% if @buses.present? %>
	<% @buses.each do |bus| %>
		<ul>
			<li>Vehicle Id:<%= bus.id %></li>
			<li>Route Id:<%= bus.route_id %></li>
			<li>Time:<%= bus.time %></li>
			<li>Lat:<%= bus.lat %></li>
			<li>Lon:<%= bus.lon %></li>
			<li>Adherence:<%= bus.adherence %></li>
			<li>
					<img src=<%= "./tmp/map_#{bus.id}.png" %> />
			</li>
			<li><%= link_to "Report", new_report_path(route_id: bus.route_id) %></li>
		</ul>
	<% end %>
<% end %>