<% if @buses.present? %>
	<% @buses.each do |bus| %>
		<ul>
			<li>Vehicle Id:<%= bus.id %></li>
			<li>Route Id:<%= bus.route_id %></li>
			<li>Time:<%= bus.time %></li>
			<li>Lat:<%= bus.lat %></li>
			<li>Lon:<%= bus.lon %></li>
			<li>
					<img src=<%= "./tmp/map_#{bus.id}.png" %> />
			</li>
		</ul>
	<% end %>
<% end %>