<!DOCTYPE html>
<html>
<head>
  <title>BusLocator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><span><%= notice %></span></p>
<p><span><%= alert %></span></p>
<%= yield %>

</body>
</html>
